.content-div{
	border-bottom-width: 1px ;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	padding-bottom: 5px;
}

.response-table th{
	min-width : 150px;
}

blockquote{
	margin-top: 5px;
}

.form-bt{
	margin-top: 10px;
	margin-bottom: 10px;
}

.right-text{
	text-align: right;
}